<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div>
    <div class=" nav_btn my-3 p-3 d-flex justify-content-end">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">All</a></li>
          <li><a class="dropdown-item" href="#">Interviews</a></li>
          <li><a class="dropdown-item" href="#">Blogs</a></li>
          <li><a class="dropdown-item" href="#">Notices</a></li>
        </ul>
      </div>
    </div>

    <div class="row d-flex justify-content-center" id="main_box">
      <% for(let i = 0; i < blogs.length; i++){ %>  
      
        <div class="main_box_card" style="width: 18rem;">
          <img class="card-img-top" src="https://www.emergingedtech.com/wp/wp-content/uploads/2018/04/blogging.jpg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= blogs[i].title %></h5>
            <p class="card-text"><%= blogs[i].description.substring(0,100) %></p>
            <a href="blogs/<%= blogs[i].title %>" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <%}%>
      </div>
</div>


</body>
</html>